#compiled output
.tmp/
test_out/
dist/
.idea/
build/
deploy/

src/**/*.js
src/**/*.js.map

#dependencies
node_modules/
package-lock.json


converage/

*.log
vsc.xml
src/app/shared/enums/AppSettings.ts
.env


