<nav *ngIf="loggedIn$ | async" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" routerLink="/">FINSTRO UI</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link mt-1">RTL/LTR</a>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-envelope"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Page 1-1</a></li>
                          <li><a href="#">Page 1-2</a></li>
                          <li><a href="#">Page 1-3</a></li>
                        </ul>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link mt-1" routerLink="/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="/setting">Settings</a>
                    </li>
                    <li class="user-text"><a>Hi, {{ (user$ | async).username }}</a><span class="devider">|</span><a (click)="onLogout()">Log out</a></li>
                </ul>
            </div>
        </div>
</nav>
<!-- 
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Analytics</a></li>
        </ul>
    </div> -->
<!-- </header> -->